header {
  background: $navbar;
}
main,
footer {
  background: $backgroundBoxMain;
}

p {
  color: $text;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title;
  font: {
    weight: bolder;
    style: italic;
  }
}
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: $linkActive;
  }
}
